<!--The content below is only a placeholder and can be replaced.-->


<nav class="navbar navbar-dark bg-dark mb-5" style="position:absolute;top:0px;left:0px;right:0px;overflow:hidden;">
    <a class="navbar-brand" href="/">Project Manager</a>
    <div class="navbar-expand mr-auto">
      <div class="navbar-nav">
        <a routerLink="/AddProject"  class="nav-item nav-link">Add Project</a>
        <a routerLink="/AddTask" class="nav-item nav-link">Add Task</a>
        <a routerLink="/AddUser" class="nav-item nav-link">Add User</a>
        <a routerLink="/ViewTask" class="nav-item nav-link">View Task</a>
      </div>
    </div>
    <!-- <div class="navbar-expand ml-auto navbar-nav">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="https://github.com/beeman" target="_blank">
          <i class="fa fa-github"></i>
        </a>
        <a class="nav-item nav-link" href="https://twitter.com/beeman_nl" target="_blank">
          <i class="fa fa-twitter"></i>
        </a>
        <a class="nav-item nav-link" href="https://medium.com/@beeman" target="_blank">
          <i class="fa fa-medium"></i>
        </a>
      </div>
    </div> -->
  </nav>

<div style="text-align:left;position:absolute; left:20px; right:20px; top:100px; bottom: 100px; overflow:auto;">    

  <!-- <h1>
    Project Manager
  </h1>

  <div>
    <a routerLink="/AddProject">Add Project</a>
    <a routerLink="/AddTask" style="margin-left: 2%">Add Task</a>
    <a routerLink="/AddUser" style="margin-left: 2%">Add User</a>
    <a routerLink="/ViewTask" style="margin-left: 2%">View Task</a>
  </div> -->
  <router-outlet></router-outlet>

</div>

<nav class="navbar navbar-dark bg-dark mt-5 fixed-bottom" style="position:absolute; bottom:0px; height:50px; left:0px; right:0px; overflow:hidden;">
    <div class="navbar-expand m-auto navbar-text">
      
    </div>
  </nav>