/* You can add global styles to this file, and also import other style files */
/* @import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css'); */

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

.overFlow{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }
